<aside>
    <!-- https://logomakr.com/ -->
    <header class="main-header"><img src=/assets/images/talke-logo.png alt="talke logo"></header>
    <!-- launch modal -->
    <button id ="room-button" type="button" ng-click="home.addRoom()">Add Room</button>
    <div id="room-list">

            <ul ng-repeat="room in home.roomsList">
                <li><a href="#">{{ room.$value }}</a></li>
            </ul>

            <!-- limit form to 10 char... see ngMessages service https://code.angularjs.org/1.6.6/angular-messages.js -->
    </div>
</aside>
<article>

    <p>Skate ipsum dolor sit amet, ledge casper acid drop aerial. Ho-ho kickturn Jimmy'Z 1080 nose. Fakie out snake kick-nose Tommy Guerrero skate or die. G-turn Randy Ruiz bank hardware locals. Egg plant Saran Wrap half-cab Rob Roskopp 50-50. Tic-tac rail slide downhill nose-bump John Grigley. Speed wobbles mini ramp coping Jeremy Wray ollie. Dude Primo slide ollie hole stalefish. Bluntslide lien air gnar bucket handplant Schmitt Stix. Chicken wing full-cab yeah Colin McKay nosegrind. Hand rail wall ride spine hardware. Flail alley oop goofy footed Streets on Fire 1080. Christ air freestyle front foot impossible roll-in. Slob air manual hard flip chicken wing. Hardware snake 180 powerslide. Rails quarter pipe Saran Wrap kick-nose. Hand rail bank wheels chicken wing. Nosebone pump hang ten mINUTEMEN impossible. Rock and roll nose bump boned out goofy footed. Crail slide noseblunt slide blunt kick-nose.</p>
    <p>Launch ramp nose grab locals Alien Workshop transition. Half-flip pool switch alley oop. Ollie north John Carbis 360 bluntslide bigspin. Skateboard Shuffle casper air impossible poseur. Shinner shoveit ho-ho 900. Kevin Harris salad grind slob air Tracker. Carve transition H-Street coffin locals. Hard flip body varial boneless gnarly. Invert flail bearings full pipe. Carve freestyle disaster camel back. Casper concave hand rail bone air. Half-flip bank bone air airwalk. Deck vert Chris Livingston tic-tac transition. Andrew Reynolds 1080 bluntslide layback snake. Sponsored nose wax backside Cross Bones soul skate. Layback pressure flip frontside poseur durometer. Fastplant ollie boneless snake slob air. Crail slide rock and roll alley oop nosepicker airwalk John Carbis.</p>
    <p> Rock and roll lipslide skater hardware Vatoland berm. Finger flip front foot impossible crailtap gnarly wall ride. Egg plant coping spine kick-nose carve Omar Hassan. Skate key cab flip 180 sick Jeremy Klein 50-50. Rails stoked concave crailtap Ray Underhill heel flip. Varial frontside regular footed bank gnarly. Ollie method air wall ride yeah griptape.</p>
    <p>Skate ipsum dolor sit amet, ledge casper acid drop aerial. Ho-ho kickturn Jimmy'Z 1080 nose. Fakie out snake kick-nose Tommy Guerrero skate or die. G-turn Randy Ruiz bank hardware locals. Egg plant Saran Wrap half-cab Rob Roskopp 50-50. Tic-tac rail slide downhill nose-bump John Grigley. Speed wobbles mini ramp coping Jeremy Wray ollie. Dude Primo slide ollie hole stalefish. Bluntslide lien air gnar bucket handplant Schmitt Stix. Chicken wing full-cab yeah Colin McKay nosegrind. Hand rail wall ride spine hardware. Flail alley oop goofy footed Streets on Fire 1080. Christ air freestyle front foot impossible roll-in. Slob air manual hard flip chicken wing. Hardware snake 180 powerslide. Rails quarter pipe Saran Wrap kick-nose. Hand rail bank wheels chicken wing. Nosebone pump hang ten mINUTEMEN impossible. Rock and roll nose bump boned out goofy footed. Crail slide noseblunt slide blunt kick-nose.</p>
    <p>Launch ramp nose grab locals Alien Workshop transition. Half-flip pool switch alley oop. Ollie north John Carbis 360 bluntslide bigspin. Skateboard Shuffle casper air impossible poseur. Shinner shoveit ho-ho 900. Kevin Harris salad grind slob air Tracker. Carve transition H-Street coffin locals. Hard flip body varial boneless gnarly. Invert flail bearings full pipe. Carve freestyle disaster camel back. Casper concave hand rail bone air. Half-flip bank bone air airwalk. Deck vert Chris Livingston tic-tac transition. Andrew Reynolds 1080 bluntslide layback snake. Sponsored nose wax backside Cross Bones soul skate. Layback pressure flip frontside poseur durometer. Fastplant ollie boneless snake slob air. Crail slide rock and roll alley oop nosepicker airwalk John Carbis.</p>
    <p> Rock and roll lipslide skater hardware Vatoland berm. Finger flip front foot impossible crailtap gnarly wall ride. Egg plant coping spine kick-nose carve Omar Hassan. Skate key cab flip 180 sick Jeremy Klein 50-50. Rails stoked concave crailtap Ray Underhill heel flip. Varial frontside regular footed bank gnarly. Ollie method air wall ride yeah griptape.</p>
</article>
<div id="footer-wrapper">
    <footer>
        <ul>
            <!-- https://www.iconfinder.com/iconsets/typicons-2 -->
            <li><a href="https://facebook.com/jerryrad" target="_blank"><img src="/assets/images/facebook.png" alt="facebook footer icon"></a></li>
            <li><a href="https://twitter.com/trujared" target="_blank"><img src="/assets/images/twitter.png" alt="twitter footer icon"></a></li>
            <li><a href="https://github.com/trujared" target="_blank"><img src="/assets/images/github.png" alt="github footer icon"></a></li>
            <li><a href="http://trujared.com" target="_blank"><img src="/assets/images/globe.png" alt="globe footer icon"></a></li>
        </ul>
    </footer>
</div>
