<aside>
    <!-- https://logomakr.com/ -->
    <header class="main-header"><img src=/assets/images/talke-logo.png alt="talke logo"></header>
    <!-- launch modal -->
    <button id="room-button" type="button" ng-click="home.addRoom()">Add Room</button>
    <div id="room-list">
        <ul ng-repeat="room in home.roomsList">
            <li><a href="#{{room.$value}}" ng-click="home.setRoom(room)">{{ room.$value }}</a></li>
        </ul>
    </div>
</aside>
<article>
    <div class="message-header">
        <h1 class="room-title">{{home.currentRoom}}</h1>
    </div>
    <div class="message-body-container" >
        <div class="message-container" ng-repeat="message in home.messageList" >
            <div class="user-name">{{message.username}}</div>
                        <div class="message-box">{{message.message}}
                            <div class="time-stamp">at: {{message.timestamp}}</div><br>
                <a href="#" class="message-reply" ng-click="">reply</a>

            </div>
        </div>

    </div>
</article>
<footer>
    <ul>
        <!-- https://www.iconfinder.com/iconsets/typicons-2 -->
        <li><a href="https://facebook.com/jerryrad" target="_blank"><img src="/assets/images/facebook.png" alt="facebook footer icon"></a></li>
        <li><a href="https://twitter.com/trujared" target="_blank"><img src="/assets/images/twitter.png" alt="twitter footer icon"></a></li>
        <li><a href="https://github.com/trujared" target="_blank"><img src="/assets/images/github.png" alt="github footer icon"></a></li>
        <li><a href="http://trujared.com" target="_blank"><img src="/assets/images/globe.png" alt="globe footer icon"></a></li>
    </ul>
</footer>
