<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Enter Room Name</h3>
</div>
<div class="modal-body" id="modal-body">
    <ul class="modal-list">
        <ul ng-repeat="rule in modal.rules">
            <li>{{ rule }}</li>
        </ul>
    </ul>

    <input class="modal-input" type="text" name="input" ng-model="modal.newRoom" placeholder="Name Your Room">

</div class="modal-footer">
    <button class="modal-button" type="button " ng-click="modal.ok() " >Yes</button>
    <button class="modal-button" type="button " ng-click="modal.cancel() ">Nope</button>
</div>
